.contact {
  padding: 8rem 0;
  background-color: var(--gray-ultra-dark);
  color: var(--white);
}

.contact > div {
  display: flex;
  gap: 6.4rem;
}

.map {
  position: relative;
  aspect-ratio: 1.4 / 1;
  width: 100%;
  height: auto;
  border-radius: 1.6rem;
  overflow: hidden;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 45%;
  position: relative;
  z-index: 2;
}

.contactInfo > div {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  position: relative;
  z-index: 2;
  margin-bottom: 4rem;
}

.contactInfo a {
  text-decoration: none;
  position: relative;
  z-index: 2;
}

.contactInfo > a {
  text-decoration: underline;
}

.social svg {
  width: 2.4rem;
  height: 2.4rem;
}

.social {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  text-decoration: none;
}

.contactInfo::before {
  background: url("/images/auto-frogy-icon.webp") no-repeat center;
  background-size: cover;
  content: "";
  position: absolute;
  bottom: -4rem;
  left: -120%;
  aspect-ratio: 1000 / 697;
  width: 40rem;
  height: auto;
  z-index: 0;
}
