.contact {
  padding: 6.4rem 0;
  background-color: var(--gray-ultra-dark);
  color: var(--white);
}

.contact > div {
  display: flex;
  gap: 4rem;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.map {
  position: relative;
  aspect-ratio: 1 / 1.2;
  width: 100%;
  height: auto;
  border-radius: 1.6rem;
  overflow: hidden;
  z-index: 1;
}

.map iframe {
  width: 100%;
  height: 100%;
  border-radius: 1.6rem;
  border: none;
}

.contactInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  position: relative;
  z-index: 1;
}

.contactInfo > div {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  position: relative;
  z-index: 2;
  margin-bottom: 2.4rem;
}

.contactInfo > div h5 {
  text-transform: uppercase;
}

.contactInfo > div *:not(h5) {
  line-height: 2.4rem;
  font-size: 1.4rem;
}

.contactInfo a {
  text-decoration: none;
  position: relative;
  z-index: 2;
}

.contactInfo > a {
  text-decoration: underline;
}

.social svg {
  width: 2.4rem;
  height: 2.4rem;
}

.social {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  text-decoration: none;
}

.contactInfo::before {
  background: url("/images/auto-frogy-icon.webp") no-repeat center;
  background-size: cover;
  content: "";
  position: absolute;
  bottom: -50%;
  left: 2%;
  aspect-ratio: 1000 / 697;
  height: auto;
  z-index: -1;
  width: 90vw;
  max-width: 40rem;
}

.contactInfo h5 span {
  display: none;
}

.contactInfo > div:nth-of-type(2) > a:last-of-type {
  text-decoration: underline;
  margin-top: 3.6rem;
}

@media screen and (min-width: 768px) {
  .contact {
    padding: 8rem 0;
  }

  .contact > div {
    flex-direction: row;
  }

  .contactInfo {
    width: 45%;
    flex-direction: column;
  }

  .contact > div {
    gap: 6.4rem;
  }

  .contactInfo > div:not(:last-of-type) {
    margin-bottom: 4rem;
  }

  .contactInfo > div:last-of-type {
    margin-bottom: 0;
  }

  .contactInfo > div:nth-of-type(2) > a:last-of-type {
    margin-top: 2.6rem;
  }

  .map {
    aspect-ratio: 1.4 / 1;
  }

  .contactInfo::before {
    bottom: -4rem;
    left: -120%;
    aspect-ratio: 1000 / 697;
  }

  .contactInfo > div * {
    font-size: 1.6rem;
  }

  .contactInfo > div h5 {
    text-transform: unset;
  }

  .contactInfo h5 span {
    display: inline;
  }
}
